<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity</title>
   
</head>
<body>
    <section>
      <a href="category/activity"><i class="fa-solid fa-person-running">액티비티</i></a>
    </section>

    <section>
      <div class="category-container">
          <div class="category-box">
              <div class="icon">
                  <img src="#">
              </div>
              <div class="details">
                  <div class="activity-name">야구</div>
                  <div class="location">장소</div>
                  <div class="participants">
                      <div class="participant"></div>
                      <div class="participant"></div>
                      <div class="participant"></div>
                  </div>
              </div>
          </div>

          <div class="category-box">
            <div class="icon">
                <img src="#">
            </div>
            <div class="details">
                <div class="activity-name">축구</div>
                <div class="location">장소</div>
                <div class="participants">
                    <div class="participant"></div>
                    <div class="participant"></div>
                    <div class="participant"></div>
                </div>
            </div>
        </div>

        <div class="category-box">
          <div class="icon">
              <img src="#">
          </div>
          <div class="details">
              <div class="activity-name">클라이밍</div>
              <div class="location">장소</div>
              <div class="participants">
                  <div class="participant"></div>
                  <div class="participant"></div>
                  <div class="participant"></div>
              </div>
          </div>
      </div>

      <div class="category-box">
        <div class="icon">
            <img src="#">
        </div>
        <div class="details">
            <div class="activity-name">배구</div>
            <div class="location">장소</div>
            <div class="participants">
                <div class="participant"></div>
                <div class="participant"></div>
                <div class="participant"></div>
            </div>
        </div>
    </div>
  
    </div>
    </section>


</body>
</html>
