<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daemoim</title>

  <!-- templates/common/common.html 조각으로 추가 -->
  <th:block th:replace="~{common/common}"></th:block>
</head>
<body>

  <main>

    <!-- common/header.html 을 조각으로 추가 -->
    <th:block th:replace="~{common/header}"></th:block>


    <!-- 메인 페이지 내용  -->
   

  </main>
  <!-- common/footer.html 추가 -->
  <th:block th:replace="~{common/footer}"></th:block>

</body>
</html>